{% extends 'index.html' %}

{% block conteudo %}
<div class="container">
    <h2>Login</h2>
    <form method="POST" action="{% url 'autenticacao:login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="txtEmail">E-mail</label>
            <input type="email" class="form-control" id="txtEmail" name="txtEmail" required autocomplete="off">
            <div id="divEmailError" class="error-message"> </div>
        </div>
        <div class="form-group hidden-group" id="divSenha">
            <label for="txtSenha">Senha</label>
            <input type="password" class="form-control" id="txtSenha" name="txtSenha" required autocomplete="new-password">
        </div>
        <div class="form-group hidden-group" id="divPerfil">
            <label for="perfil">Perfil</label>
            <select class="form-control" id="slcPerfil" name="slcPerfil" required></select>
        </div>
        <div id="divSpace" class="space"> </div>
        <button type="submit" class="btn btn-light">Entrar</button>
        <a href="#" id="btnEsqueciSenha" class="btn btn-light">Esqueci minha senha</a>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#txtEmail').on('input', function() {
            var email = $(this).val();
            $('#divPerfil').addClass('hidden-group');
            $('#divSenha').addClass('hidden-group');
            $('#slcPerfil').empty();
            $('#divEmailError').text(' ').removeClass('visible');

            if (email.length > 0) {
                $.ajax({
                    url: "{% url 'autenticacao:get_perfis' %}",
                    data: {'email': email},
                    success: function(data) {
                        if (data.usuario_existe) {
                            if (data.perfis.length > 0) {
                                $('#slcPerfil').empty();
                                data.perfis.forEach(function(perfil) {
                                    $('#slcPerfil').append(new Option(perfil.nome, perfil.id));
                                });
                                $('#divPerfil').removeClass('hidden-group');
                                $('#divSenha').removeClass('hidden-group');
                            } else {
                                toastr.error("Nenhum perfil encontrado para este e-mail.", "Erro");
                            }
                        } else {
                            $('#divEmailError').text('.').addClass('visible');
                        }
                    }
                });
            }
        });

        $('#btnEsqueciSenha').click(function(event) {
            event.preventDefault();
            toastr.info('Se você esqueceu sua senha contate o administrador do sistema.');
        });
    });
</script>
{% endblock %}